$primary-color: #242424;
$result-color: #f4f4f4;
$result-calc-color: mix(#f4f4f4, #5b58ec, 70%);
$btn-number-bg-color: #313131;
$btn-number-font-color: #f4f4f4;
$btn-number-bg-color-hover: mix(#313131, white, 75%);
$btn-action-bg-color: #ff9500;
$btn-action-font-color: #ffffff;
$btn-action-bg-color-hover: mix(#ff9500, white, 75%);
$btn-menu-bg-color: #9f9f9f;
$btn-menu-font-color: #000000;
$btn-menu-bg-color-hover: mix(#9f9f9f, white, 75%);
